.horizontal-progress-bar {
    background-color: #1a1a1a;
    height: 10px;
    padding: 3px;
    width: 200px;        
    border-radius: 4px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.horizontal-progress-bar span {
    display: block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    background-color: grey;
}

.vertical-progress-bar {
    background-color: #1a1a1a;
    width: 4px;
    padding: 3px;
    height: 80px;        
    border-radius: 4px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.vertical-progress-bar span {
    display: block;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: height .4s ease-in-out;
    background-color: grey;
}

.health {
    background-image: linear-gradient(to top, #f17474, #e41919);
}

.stamina {
    background-image: linear-gradient(to top, #fecf23, #fd9215);
}

.mana {
    background-image: linear-gradient(to top, #5285d8, #1f68dd);
}