
.map-party-arrow {
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url('../images/party-arrow.png');
}

.north {
  transform: none;
}

.east {
  transform: rotate(90deg);
}

.south {
  transform: rotate(180deg);
}

.west {
  transform: rotate(270deg);
}

