.day-night-header {
  height: 64px;
  width: 850px;
}

.day-night-header.dawn {
  background: darkblue;
}

.day-night-header.morning {
  background-color: lightblue;
}

.day-night-header.noon {
  background-color: dodgerblue;
}

.day-night-header.after-noon {
  background-color: dodgerblue;
}

.day-night-header.sun-set {
  background-image: linear-gradient(to bottom, darkblue 40%, orange);
}

.day-night-header.dusk {
  background-color: darkblue;
}

.day-night-header.night {
  background-color: black;
}

.date-display {
  width: 96px;
  height: 64px;
  background-color: white;
}

.sun-moon {
  height: 64px;
  width: 64px; 
  position: absolute;
  left: 1%;
}

.sun-moon.sun-time {
  background-image: radial-gradient(circle at center, rgba(255, 255, 0, .9) 0%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 65%);
}

.sun-moon.moon-time {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 65%);
}